@import 'basscss';

:root {
  --font-family: 'Avenir Next', 'Hevletica Neue', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


.container {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.picMe {
  height: 300px;
  width: auto;
  border-radius: 175px;
}

.social {
  position: fixed;
  display: inline;
  width: 150px;
  height: 150px;
  margin-left: 20px;

}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2a2a2a;
  width: 100%;
  height: auto;
  text-align: right;
}
