.footer {
  background-color: #292929;
  width           : 100%;
  list-style-type : none;
  text-align      : right;
  position        : absolute;
  float           : bottom;
  height          : 60px;
  & a {
    color          : #00b1fc;
    text-decoration: none;
    &:hover {
      color    : inherit;
      font-size: 25px;
    }
  }
}
