.nav-ul {
  width          : 100%;
  list-style-type: none;
  display        : inline-block;
  text-align     : center;
}
.nav-li {
  position    : relative;
  display     : inline;
  margin-right: 50px;
  font-family : 'Oswald', sans-serif;
  font-size   : 1.2em;
  & a {
    text-decoration: none;
    border-radius  : 20px;
    color          : #00b1fc;
    &:hover {
      background-color: #3a751d;
      font-size: 30px;
    }
  }
}
.picK {
  position: absolute;
  display : inline-block;
  height  : 75px;
  width   : 75px;
}
