.columnleft,
.columnright {
  position: absolute;
  top     : 20%;
  margin  : 20px;
}
.columnleft {
  right  : 50%;
}
.columnright {
  top: 40%;
  height: 500px;
  width     : 400px;
  left      : 50%;
  text-align: right;
}
.picMe {
  height            : 500px;
  width             : 500px;
  border-radius     : 250px;
  opacity           : .7;
  -moz-box-shadow   : 0 0 75px rgba(0,0,0, .8);
  -webkit-box-shadow: 0 0 75px rgba(0,0,0, .8);
  box-shadow        : 0 0 75px rgba(0,0,0, .8);
}
