@import 'about.scss', 'header.scss', 'footer.scss', 'contact.scss', 'home.scss';
html,
body {
  margin          : 0;
  padding         : 0;
  height          : 90%;
  font-family     : 'Avenir Next', 'Hevletica Neue', sans-serif;
  color           : #c1c1c1;
}
body {
  background-image: url(/style/img/bg.jpg);
  background-repeat: no-repeat;
  background-color: #292929;

}
.content-main {
  margin: 20px 50px 0 50px;
  overflow: scroll;
  height: 100%;
  min-height: 100%;
}
