@import 'header.scss', 'footer.scss', 'contact.scss', 'index.scss';
html,
body {
  margin          : 0;
  padding         : 0;
  height          : 100%;
  background-image: url(/style/img/bg.jpg);
  background-color: #292929;
  font-family     : 'Avenir Next', 'Hevletica Neue', sans-serif;
  color           : #c1c1c1;
}
.content-main {
  min-height: 100%;
}
